[user]
	name = guodongq
	email = guodong.qian@hp.com

[core]
	editor = nvim
	pager = less -FRSX
	ignorecase = false

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto

[color "branch"]
	current = green
	remote = yellow

[help]
	autocorrect = 1

[push]
	default = upstream
	autoSetupRemote = true

[pull]
	rebase = true

[branch "master"]
	mergeoptions = --no-edit

[diff]
	colorMoved = default
	tool = nvimdiff

[merge]
	conflictstyle = diff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
